* {
    touch-action: none
}

#stick {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 10%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    &:active {
        background-color: blue;
    }
}

#player {
    position: fixed;
    top: 100px;
    left: 300px;
    width: 150px;
    height: 150px;
    background-color: green;
}